# System files.
.DS_store

# Python files
*.py[cod]
*.egg-info

# Build products
build/
dist/

# Test coverage files
.coverage

# Documentation build products
docs/_build
docs/*.rst
!docs/index.rst
!docs/readme.rst
!docs/todo.rst
